doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width,initial-scale=1",name="viewport")
    link(href="app.css",rel="stylesheet")
    title 建築物劣化
  body
    #v-app
    script(src="app.js")
